<div class="container">
	<div class="row center">
		<div class="section">
				<h3>Scrape New Articles</h3>
                 <a href="/scrape" class="btn btn-large red darken-2">Scrape<i class="material-icons left">cloud_download</i></a>
			</div>
		</div>
	</div>
</div>